# IDEs and editors
.idea/
.vscode/

# Python environments
.venv/
venv/
myenv/
my_new_env/
__pycache__/

# Terraform
.terraform*
*.tfstate
*.tfstate.*
# *.terraform.lock.hcl
crash.log


# Node.js
node_modules/

# Python testing and packaging
dist/
.coverage*
htmlcov/
.tox/
*.egg-info/

# Sphinx docs
docs/_build/

# Mac system files
.DS_Store

.terraform/

