# IDEs and editors
.idea/
.vscode/

# Python environments
.venv/
venv/
myenv/
my_new_env/
__pycache__/

# .terraform (provider binaries, external module source code, …)
**/.terraform/*
# state files
*.tfstate
*.tfstate.*

# Crash log files (if you run Terraform locally)
crash.log
crash.*.log

# Variable files
*.tfvars
*.tfvars.json

# Override files (HCL or JSON, depending on your configuration)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI configuration files
.terraformrc
terraform.rc

# *.terraform.lock.hcl
crash.log


# Node.js
node_modules/

# Python testing and packaging
dist/
.coverage*
htmlcov/
.tox/
*.egg-info/

# Sphinx docs
docs/_build/

# Mac system files
.DS_Store

.terraform/

